body{
    background-color: #d9dddc;
    position: relative;
    height: 100vh;
    min-height: 100vh;
    z-index: 1;
    overflow: hidden;

    transition: background 1s ease;
}

.home-links{
    margin-top: 10px;
    margin-left: 10px;
    color:#323232;
}

.welcome-area{
    display: none;
    width: 100%;
    height: 100vh;
    min-height: 100vh;
    overflow: hidden;   
}
.welcome-area.active{
    display: block;
}

.proceed-button{
    position: absolute;
    bottom:30px;
    right:5%;
    border:2px solid #005959;
    /* background-color: #323232; */
    cursor: pointer;
    width:500px;
    height: 50px;
    padding-top: 10px;
    /* overflow: hidden; */
    text-align: center;
    /* color:black; */

    transition: background-color .2s ease-in;
}

.proceed-button:hover{
    background-color: #323232;
}

.proceed-label{
    position: absolute;
    top:-70px;
    left:25%;
    color:#005959;
    font-family: 'Supreme',sans-serif;
}
.name-l{
    position: absolute;
    /* border:1px solid gold; */
    height: auto;
    top:30%;
    width: 100%;
}
.full-page-text{
    /* position: absolute; */
    /* top:30%; */
    right:10px;
    font-family: 'Supreme', sans-serif;
    text-align: right;
    font-weight: 700;
    font-size: 9.5em;
}


.welcome-divider{
    position: absolute;
    top: 90%;
    left: 2.5%;
    border: none;
    height: 3px;
    background: black;
    margin-bottom: 50px;
    width:95%;
}
/* @media only screen and (min-width: 992px) {
    .full-page-text{
        font-size: 8em;
    }
} */
.fadeout{
    animation: fadeout .75s ease-out forwards;
}
.fadeout-rev{
    animation: fadeout .75s ease-out reverse;
}
@keyframes fadeout {
    to{
        opacity:0;
        display: none;
    }
}
.full-page-text2{
    position: absolute;
    top: 70%;
    left:30PX;
    font-size: 3.5em;
}

.left-ani{
    animation: toLeft .75s ease-in-out forwards;
}
.left-ani-rev{
    animation: toLeft .75s ease-in-out reverse;
}
@keyframes toLeft {
    to{
        left:-65%;
    }
}

.right-ani{
    animation: toRight .75s ease-in-out forwards;
}
.right-ani-rev{
    animation: toRight .75s ease-in-out reverse;
}
@keyframes toRight {
    to{
        right:-35%;
    }
}
.full-page-text3{
    position: absolute;
    right:0;
    font-family: 'Supreme', sans-serif;
    text-align: right;
    font-weight: 400;
    font-size: 6em;
}


.next{
    /* opacity:0; */
    position: absolute;
    right:20px;
    top:45%;
}

.prev{
    /* opacity: 0; */
    position: absolute;
    left:20px;
    top:45%;
}

.main-info.active{
    display:block;
    position: relative;
}

.main-site{
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.main-header{
    position: absolute;
    font-family: 'Clash Display', sans-serif;

    /* top:-100px; */
    left:50px;
}
.main-header::before {
    content: "";
    position: absolute;
    top: 90%;
    width: 100%;
    left: 0;
    height: 5px;
    border-radius: 2px;
    background: linear-gradient(111.3deg, #005959 9.6%, #323232 93.6%);
  }

.main-info{
    position: relative;
    display: none;
    margin: auto;
    margin-top: 100px;
    width:80%;
    height: 80vh;
    border-radius: 5px;
    /* border: 10px solid black; */

    animation: .5s ease-in forwards;
}
.fadein{
    animation : fadein 1.5s ease-in-out forwards;
    animation-delay: .75s;
}
.fadein-rev{
    animation : fadein .75s ease-in-out reverse;
}
@keyframes fadein {
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
.welc.active{
    position: relative;
    padding-left: 50px;
    padding-top: 100px;
    height: 80vh;
    width: 80%;
}
.welc.active>p,.project-info>p{
    width: 570px;
    font-family: 'Supreme', sans-serif;
    font-size: large;
}
.programmer-ill{
    position: absolute;
    /* display: inline; */
    /* border:1px solid red; */
    width:600px;
    height: auto;
    top:0;
    right:150px;
  }
  .programmer-ill>img{
    transform: scale(.75);
  }

.qual.active{
    position: relative;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    padding-inline: 50px;
    height: 80vh;
    width: 80%;
    /* border: 10px solid black; */
}
/* .qual.active>h2{
    width:30%;
} */
.qual-web{
    width:50%;
    position: relative;
    padding-left: 150px;
}
.skill-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
}
.skill-list li{
    width: 50%;
    margin-block: 10px;
    /* border:2px solid blue; */
}

.skill-list li img,.skill-list li i{
    margin-right: 5px;
}
.qual-gen{
    width:50%;
    position: relative;
    padding-left: 150px;
}
.more-info.active{
    position: relative;
    padding-left: 50px;
    padding-top: 100px;
    height: 80vh;
    width: 80%;
}
.more-info.active>p{
    font-family: 'Supreme',sans-serif;
    font-size: 1.5em;
}
.projects{
    display: none;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.project-info{
    position: relative;
    display: none;
    margin: auto;
    margin-top: 100px;
    padding-top: 100px;
    width:80%;
    height: 80vh;
    text-align: center;
    /* border: 10px solid black; */
}
.project-info.active{
    display:block;
    position: relative;
}
.project-info>img{
    position: absolute;
    left: 0;
    top: 15%;
    transform: scale(.5);
}
.projects-container{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.project-example{
    width:24%;
    height: 300px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
    padding-top: 50px;
}

.project-example:last-child{
    border: none;
}
.project-example>.project-thumb>img{
    width: 80%;
    border: 2px #323232 solid;
}
.project-display-container{
    display: none;
    position: absolute;
    /* top:100px; */
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    z-index: 1;
}
.project-display-container>.project-display{
    /* display: none; */
    position: absolute;
    /* padding-top: 200px; */
    top: 100px;
    left: 10%;
    height: 80vh;
    width: 80%;
    background: #d9dddc;
    z-index: 2;
    border: 10px solid #323232;
}

.project-image{
    position:absolute;
    top:2.5%;
    left: 1.25%;
    width:60%;
    height: auto;
    /* border:5px solid #323232; */
}
.project-specs{
    position: absolute;
    top:2.5%;
    left: 65%;
    width: 30%;
    height: 62%;
    text-align: left;
    /* border: solid red 2px; */
    /* padding-left:10%; */
}
.project-description{
    position: absolute;
    top:70%;
    height: 30%;
    padding-inline: 2.5%;
    text-align: left;
    /* border:solid 5px green; */
}
.project-description>p{
    font-family: 'Supreme',sans-serif;
}
.project-image>img{
    width:100%;
}
.side-title{
    /* writing-mode: vertical-lr; */
    /* text-orientation: upright; */
    font-family: 'Clash Display', sans-serif;
    font-size: 1.5em;
    height: 900px;
}
.right-title{
    position: absolute;
    right:-50px;
    top:42%;
}

.left-title{
    position: absolute;
    left:-50px;
    top:42%;
}

.links-section{
    display: none;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.links-info{
    position: relative;
    display: none;
    margin: auto;
    margin-top: 100px;
    padding-top: 100px;
    width:80%;
    height: 80vh;
    text-align: center;
    /* border: 10px solid black; */
}
.links-info.active{
    display:block;
    position: relative;
}
.links-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
.links-info-item{
    /* border:2px solid gold; */
    width:300px;
    text-align: center;
}
.closebtn{
    cursor: pointer;
    position: absolute;
    right: 50px;
    top:50px;
    font-size:2rem;
}
.contact-section{
    display: none;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.contact-info{
    position: relative;
    display: none;
    margin: auto;
    margin-top: 100px;
    padding-top: 100px;
    width:80%;
    height: 80vh;
    /* text-align: center; */
    /* border: 10px solid black; */
}
.contact-info.active{
    display:block;
    position: relative;
}


/* Style inputs */
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #323232;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #005959;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }

  ::placeholder {
    color: #9b9b9b !important;
    opacity: 1; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: #9b9b9b !important;
  }
  
  input[type=submit]:hover {
    background-color: #005959;
  }
  
  /* Style the container/contact section */
  .form-container {
    border-radius: 5px;
    /* background-color: #f2f2f2; */
    padding: 10px;
  }
  label{
    color: #323232 !important;
    font-family: 'Supreme',sans-serif;
  }
  
  /* Create two columns that float next to eachother */
  .column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
  }
  .column>img{
    position: absolute;
    left: -10%;
    bottom: 1%;
    transform: scale(.7);
}
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /*mobile scaling*/
  @media only screen and (max-width: 600px){  
    body{
        height: 100dvh;
        min-height: 100dvh;
    }
    
    .next{
        right:5px;
    }
    
    .prev{
        left:5px;
    }
    .proceed-button{
        bottom:30px;
        cursor: pointer;
        width:90%;
        height: 50px;
        padding-top: 10px;
        right:5%;
    }
    .name-l{
        top:20%;
        width: 99%;
        /* margin-left: 10px; */
    }
    .welcome-divider{
        width: 95%;
    }
    .full-page-text{
        top:20%;
        font-size: 5em;
        text-align: left;
        margin-left: 10px;
    }
    .full-page-text2{
        font-size: 2em;
        top:55%;
        left:20px;
    }
    .full-page-text3{
        position: absolute;
        text-align: left;
        top:10%;
        font-size: 3em;
        left: 20px;
    }
    .welcome-area{
        height: 100dvh;
        min-height: 100dvh;  
    }
    .main-info{
        height: 80dvh;
    }
    .proceed-label{
        position: absolute;
        top:-70px;
        left:17%;
    }
    .main-header{
        left:5%;
    }
    .welc.active>h2{
        margin-top: 150px;
        font-size: 2.5em;
    }
    .welc.active>p,.project-info>p{
        width: 90%;
        font-family: 'Supreme', sans-serif;
        font-size: 1.25em;
    }
    .programmer-ill{
        width:400px;
        height: auto;
        top:-150px;
        right:50%;
      }
    .programmer-ill>img{
        transform: scale(.25);
    }

    .project-info>h3{
      font-size: 1.5em;
    }
    .project-info>img{
        position: absolute;
        width:400px;
        height: auto;
        top:45%;
        left: -10%;
    }
    .project-example{
        width:50%;
        height: 50%;
        cursor: pointer;
        box-shadow: 0 0 5px rgba(0,0,0,.05), 2px 2px 5px rgba(0,0,0,.1);
        padding-top: 25px;
    }
    .project-display-container>.project-display{
      overflow: scroll;
    }
    .project-display-container>.project-display{
        top: 10%;
        height: 80dvh;
    }
    .project-image{
        position:absolute;
        top:7%;
        left: 5%;
        width:90%;
        height: auto;
        /* border:5px solid #323232; */
    }
    .project-specs{
        position: absolute;
        top:30%;
        left: 5%;
        width: 100%;
        height: 62%;
        text-align: left;
    }
    .project-description{
        position: absolute;
        top:70%;
        height: 30%;
        padding-inline:5%;
        text-align: left;
        /* border:solid 5px green; */
    }
    .project-description>p{
        font-family: 'Supreme',sans-serif;
    }


    .side-title{
        font-size: 1em;
        height: 900px;
    }
    .right-title{
        right:25px;
    }
    
    .left-title{
        left:25px;
    }
    .qual.active{
        margin-top: 125px;
        display: flex;
        flex-direction: column;
        padding: 0;
        padding-inline: 50px;
    }
    .qual-web{
        width:100%;
        left: 0;
        padding:0;
        /* overflow: hidden; */
    }
    .qual-web>h3{
        font-size: 1.25em;
    }
    .qual-web>p{
        font-size: .5em;
    }
    .skill-list{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .skill-list li{
        width: 30%;
        margin-block: 10px;
        /* border:2px solid blue; */
    }
    .skill-list li >span{
        display: block;
        width:100%;
        font-size: .75em;
    }
    .skill-list li img,.skill-list li i{
        margin-right: 5px;
    }
    .gap{
        display: none;
    }
    .qual-gen{
        width:100%;
        padding:0;
    }
    .qual-gen>h3{
        font-size: 1.25em;
        margin:0 !important;
        /* color:red; */
    }
    .qual-gen>p{
        font-size: 1.25em;
    }
    .more-info.active{
        padding-left: 25px;
        padding-top: 50px;
    }
    .more-info.active>h2{
        font-size: 1.5em;
    }
    .more-info.active>p{
        font-family: 'Supreme',sans-serif;
        font-size: 1em;
    }
    .links-info>h3{
        font-size: 1.5em;
    }
    .column>img{
        display: none;
    }
    .closebtn{
        right: 10px;
        top:5px;
        font-size:2rem;
    }
    .contact-section{
        display: none;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .contact-info{
        position: relative;
        display: none;
        margin: auto;
        margin-top: 175px;
        padding-top: 0;
        width:80%;
        height: 60dvh;
        /* text-align: center; */
        border: 2px solid #005959;
        border-radius: 1px;
    }  
    .column:first-child {
        display: none;
      }
}

  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }